/* CSS styles in index.html */


/* колір головного тексту  #212121 */
/* вториний колір  тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* чорний #000000 */
/* вторичний колір контакта rgba(255, 255, 255, 0.6) */
/* колір фону  #F5F5F5 */


body {
background-color: green;
color: #757575;
}

header {
  background-color: rgb(177, 67, 23);
}
