/* CSS styles in index.html */


/* колір головного тексту  #212121 */
/* вториний колір  тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* чорний #000000 */
/* вторичний колір контакта rgba(255, 255, 255, 0.6) */
/* колір фону  #F5F5F5 */

:root {
  --primary-text-color: #212121;
  --fone-color: #F5F5F5;

}

body {
  background-color: var(--fone-color);
  color: var(--primary-text-color);
}

